.navbar {
  display: flex;
  /* width: 1024px; */
  justify-content: space-between;
}

#navbar-title {
  font-weight: 400;
  color: var(--Monochrome-Black, #000);
  font-size: 24px;
  /* font-weight: 700; */
  line-height: normal;
  letter-spacing: -0.48px;

  /* display: flex; */
  /* padding: 12px 24px; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}

.navbar-list {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  list-style-type: none;
}

.navbar-item a {
  /* type style */
  text-decoration: none;

  /* btn text 16 */
  color: #262626;
  background: var(--Colours-Light, #f2f2f2);

  /* font-size: 16px; */
  text-transform: uppercase;
  letter-spacing: 0.32px;
  word-wrap: break-word;

  /* space style */
  padding: 16px 32px;
}