.grid-container {
    display: grid;
    /* distribution of and area layout */
    /* rows are strings, words are columns */
    grid-template-areas:    "home home"
                            "menu canvas"
                            "footer footer";
    /* sizing of the layout */
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
}

#sketch1 { grid-area: home; }
#sketch2 { grid-area: menu; }
#sketch3 { grid-area: canvas; }
#sketch4 { grid-area: footer; }
