  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* Colores */
    --white: #f0f0f0;
    --dark: #020303;
    --dark_primary: var(--dark);
    --light_primary: var(--white);

    /* Fuentes */
    --Font-Ubuntu: "Ubuntu";
    --Ubuntu-Regular: 400;
    --Ubuntu-Bold: 700;

    /* Base font size for reference */
    font-size: 16px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    main {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      flex: 1 0 0;
      align-self: stretch;
      justify-content: center;
    }

    #main-text {
      display: flex;
      background-color: var(--white);
      align-self: stretch;
      align-items: stretch;
    }

    h1 {
      font-size: 1.5rem;  /* 24px */
      letter-spacing: -0.03em;  /* -0.48px */
      line-height: normal;
    }

    .hide-mobile {
      /* display: none; */
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .hide-mobile {
      display: none;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .hide-mobile {
      display: flex;
    }
  } 

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1280px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1440px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1920px) {
    body {
      display: flex;
      justify-content: center;
    }
  }
  /* ========================================================================== */

  h1 {
    font-size: 4rem;  /* 64px */
    font-weight: var(--Ubuntu-Bold);
    letter-spacing: -0.04em;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.5rem;  /* 24px */
    line-height: normal;
    letter-spacing: -0.03em;  /* -0.48px */
  }

  img {
    height: auto;
    width: 100%;
  }

  body {
    background-color: var(--light_primary);
    color: var(--dark_primary);
    font-family: var(--Font-Ubuntu);
    font-weight: var(--Ubuntu-Regular);
  }

  header {
    display: flex;
    align-items: center;

    & > h3 {
      padding: 0.75rem 1.5rem;  /* 12px 24px */
    }
  }

  #square {
    padding: 0.5rem;  /* 8px */
  }

  .body-text {
    font-size: 1rem;  /* 16px */
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.02em;  /* 0.32px */
  }

  main {
    display: flex;
    padding: 1.5rem;  /* 24px */
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
  }

  #main-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;  /* 16px */
  }

  footer {
    font-size: 0.625rem;  /* 10px */
    font-weight: var(--Ubuntu-Bold);
    letter-spacing: 0.019em;  /* 0.3px */
    text-transform: uppercase;

    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;  /* 24px */
    align-self: stretch;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;  /* 1920px */
  }