:root {
  /* colors */
  --Monochrome-Black:  #000;
  --Monochrome-Darker: #262626;
  --Monochrome-Dark:   #404040;
  --Monochrome-Medium: #737373;
  --Monochrome-Light:  #D8D8D8;
  --Monochrome-Lighter:#F2F2F2;
  --Monochrome-White:  #FFF;
}

html,
body {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--Monochrome-White);
  font-family: Ubuntu;
  font-style: normal;
  line-height: normal;
}

h1 {
  color: var(--Monochrome-Darker);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
}

#intro-text {
  display: none;
}

#home-hero {
  display: flex;
  justify-content: center;
}

#home-hero img {
  width: 100%;
  height: auto;
}

#main-image {
  display: none;
}

#home-intro {
  display: flex;
  justify-content: center;
}

/* Para móviles */
@media (max-width: 576px) {
  #intro-text {
    display: flex;
  }
  #home-hero {
    display: none;
  }
  #home-intro {
    display: flex;

    flex-direction: column;
    /* padding: auto; */
    /* align-items: center; */
  } 
  #main-image{
    display: flex;
    justify-content: center;
    width: 90%;
    height:auto;
    margin: auto;
  }
  
  h2 {
    margin-top: -100px;
    padding: .5em;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -0.64px;
  }

  header {
    order: 3;
  }

  section {
    order: 2;
  }

  footer {
    order: 1;
  }
}

/* Para tabletas */
@media (min-width: 577px) and (max-width: 992px) {
}

/* Para escritorios */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* Para pantallas grandes */
@media (min-width: 1201px) {
}